<div class="location" id="location">{{childcity}}, {{childlocation}}</div>
<div class="date">{{childname}}</div>

<div class="current">
        <div class="visual">
                <div class="icon cloudy"></div>
                <div class="temp">{{childtemp}}</div>
                <div class="scale">°F</div>
        </div>
        <div class="description">
                <div class="precip">{{childdescription}}</div>
                <div class="humidity">{{childhumidity}}</div>
                <div class="wind">{{childwind}} mph </div>

        </div>
</div>